<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:solr="http://www.springframework.org/schema/data/solr" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
       http://www.springframework.org/schema/data/jpa 
       http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/jdbc 
       http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
       http://www.springframework.org/schema/data/solr 
       http://www.springframework.org/schema/data/solr/spring-solr-1.0.xsd">

	<!-- Scanea las clases que tienen las anotaciones -->
	<context:component-scan base-package="mx.com.anzen.controllers" />

	<!-- Enables the Spring MVC @Controller programming model -->
	<mvc:annotation-driven />

	<!-- Carga archivos de propiedades -->
	<context:property-placeholder location="classpath:database.properties"
		order="1" ignore-unresolvable="true" />
	<context:property-placeholder location="classpath:solr.properties"
		order="2" ignore-unresolvable="true" />
	<context:property-placeholder location="classpath:redis.properties"
		order="2" ignore-unresolvable="true" />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<jpa:repositories base-package="mx.com.anzen.repositories.jpa" />

	<!-- Sólo es la conexción a la base de datos, aún no está ligada a -->
	<!-- Se está usando la Spring JDBC para conectarse -->
	<!-- <bean id="dataSource" -->
	<!-- class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
	<!-- <property name="driverClassName" value="${db.driver}" /> -->
	<!-- <property name="url" value="${db.url}" /> -->
	<!-- <property name="username" value="${db.username}" /> -->
	<!-- <property name="password" value="${db.password}" /> -->
	<!-- </bean> -->

	<jdbc:embedded-database id="dataSource" type="H2">
		<jdbc:script location="classpath:schema.sql" />
		<jdbc:script location="classpath:data.sql" />
	</jdbc:embedded-database>

	<!-- Este es JPA -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceXmlLocation" value="classpath:persistence.xml" />
		<property name="persistenceUnitName" value="persistenceUnit" />
		<property name="dataSource" ref="dataSource" />
	</bean>


	<!-- JTA configuration -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- Extra pendiente de investigar -->
	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<!-- =============================================== -->
	<!-- Solr config -->
	<!-- =============================================== -->
	<solr:solr-server id="solrServer" url="${solr.server.url}"
		timeout="10000" maxConnections="100" />
	<bean id="solrTemplate" class="org.springframework.data.solr.core.SolrTemplate">
		<constructor-arg index="0" ref="solrServer" />
	</bean>
	<solr:repositories base-package="mx.com.anzen.repositories.solr"
		multicore-support="false" solr-template-ref="solrTemplate"
		solr-server-ref="solrServer" />

	<!-- =============================================== -->
	<!-- Redis Config -->
	<!-- =============================================== -->
	<bean id="jedisConnectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<property name="hostName" value="${redis.hostName}" />
		<property name="port" value="${redis.port}" />
	</bean>

	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="jedisConnectionFactory"/>
	</bean>
	
	<bean id="accountRedisRepository" class="mx.com.anzen.repositories.redis.AccountRedisRepository"/>	

</beans>